@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@font-face {
  font-family: 'Zuume';
  src: url('./assets/font/Zuume-Regular.woff') format('woff'),
    url('./assets/font/Zuume-Regular.woff2') format('woff2');
}

.gloria-hallelujah {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('./assets/font/Lufga-Regular.woff') format('woff'),
    url('./assets/font/Lufga-Regular.woff2') format('woff2');
}

.font-Zuume {
  font-family: 'Zuume', sans-serif;
}

.font-Lufga {
  font-family: 'Lufga', sans-serif;
}

.App {
  text-align: center;
  font-family: 'Lufga', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}